<% form_for @forum do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :new_parent_id %><br />
    <%= f.select :new_parent_id, nested_set_options_for_select(Forum, :exclude => @forum), :include_blank => 'Root' %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
