<% title "Forum" %>

<p>
  <strong>Title:</strong>
  <%=h @forum.title %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @forum.description %>
</p>

<%= render :partial => 'forum', :locals => {:forums => @forum.children} %>

<div id="threads">
  
</div>

<p>
  <%= link_to "Edit", edit_forum_path(@forum) if can? :update, @forum %>
  <%= link_to "Destroy", @forum, :confirm => 'Are you sure?', :method => :delete if can? :destroy, @forum %>
  <%= link_to "View All", forums_path %>
</p>