<% form_for @forum_permission do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :forum_id %><br />
    <%= f.text_field :forum_id %>
  </p>
  <p>
    <%= f.label :role_id %><br />
    <%= f.text_field :role_id %>
  </p>
  <p>
    <%= f.label :read %><br />
    <%= f.check_box :read %>
  </p>
  <p>
    <%= f.label :write %><br />
    <%= f.check_box :write %>
  </p>
  <p>
    <%= f.label :moderate %><br />
    <%= f.check_box :moderate %>
  </p>
  <p>
    <%= f.label :admin %><br />
    <%= f.check_box :admin %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
