<% title "Posts" %>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>User</th>
    <th>Thread</th>
    <th>Posted By Ip</th>
  </tr>
  <% for post in @posts %>
    <tr>
      <td><%=h post.title %></td>
      <td><%=h post.content %></td>
      <td><%=h post.user_id %></td>
      <td><%=h post.thread_id %></td>
      <td><%=h post.posted_by_ip %></td>
      <td><%= link_to "Show", post %></td>
      <td><%= link_to "Edit", edit_post_path(post) %></td>
      <td><%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Post", new_post_path %></p>
